<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sso.code.mapper.SysLogMapper">
    <select id="getRecordData" resultType="org.sso.code.model.LoginData">
        select * from logindata order by id desc limit 10
    </select>

    <delete id="deleteRecordData">
        DELETE FROM logindata where now() >SUBDATE(login_time,interval -1 day) ORDER BY id;
    </delete>
</mapper>
